<div id="chat_auto-scroll_switch" class="switch" style="display: none;">
    <label class="switch">
        <input id="chat_auto-scroll_switch-input" type="checkbox">
        <span>&nbsp;Auto-przewijanie</span>
    </label>
</div>

<div id="chat_messages-box"></div>

<div id="chat_message-editor">
    <div class="field label round small border">
        <input id="chat_message-editor_input" type="text">
        <label>Wyślij wiadomość</label>
    </div>
    <button id="chat_message-editor_send-btn" class="transparent circle" disabled>
        <i>send</i>
    </button>
</div>