<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QuickStream</title>
        <% include common/head.ejs %>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <img id="logo" src="/img/logo.png" style="width: clamp(1px, 100%, 770px);" />
        <div id="account-info">
            <i>account_circle</i>
            <p id="username-display">...</p>
            <button id="change-username-btn" class="border" data-ui="#setup-profile-modal">
                <i>edit</i>
                Zmień
            </button>
        </div>
        <hr class="animated-hr" style="margin: 10px 0;"/>
        <div id="create-room-btn-wrapper">
            <button onclick="createRoom();">
                <i>cast_connected</i>
                Rozpocznij transmisję
            </button>
            <label>
                <i>hourglass_bottom</i>
                Tworzenie sesji...
            </label>
        </div>

        <div class="overlay blur"></div>

        <dialog id="setup-profile-modal" class="modal">
            <h5>Twoja nazwa użytkownika</h5>
            <div>
                Aby móc identyfikować się na platformie, ustaw nazwę użytkownika. Zostanie ona zapamiętana i będzie
                używana za każdym razem w przyszłości i <b>można ją zmienić</b>.
            </div>
            <div class="field label border">
                <input id="profile-setup-username-input" type="text">
                <label>Wpisz Swoją nazwę użytkownika tutaj!</label>
            </div>
            <nav class="right-align no-space">
                <button class="transparent link" id="profile-setup-cancel-btn" data-ui="#setup-profile-modal" disabled>
                    Anuluj
                </button>
                <button class="transparent link" id="profile-setup-continue-btn" disabled>
                    Kontynuuj do platformy
                </button>
            </nav>
        </dialog>

        <div id="session-error-snackbar" class="snackbar error">Nie udało się utworzyć sesji.</div>

        <script src="/js/index.js" defer></script>
    </body>
</html>
