<!doctype html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <title>QuickStream - Ups!</title>
        <% include common/head.ejs %>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
        <link rel="stylesheet" href="/styles/invalid.css">
    </head>
    <body>
        <div>
            <dotlottie-player src="https://lottie.host/987a36f1-274c-41c4-8dbd-3985e68faccf/KtYgWeFnMZ.json" background="transparent" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
            <h1><%= title %></h1>
            <p><%= description %></p>
            <button class="extra" onclick="location.assign('/');">Wróć na stronę główną</button>
        </div>
    </body>
</html>