<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QuickStream - Panel</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/panel.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
        <script src="js/vanillaEmojiPicker.js"></script>
    </head>
    <body>
        <div id="link-top-bar">
            <button id="copy-safe-link-btn" class="waves-effect waves-light btn-flat white-text">
                <i class="material-icons left">link</i>
                Kopiuj bezpieczny link
            </button>
            <div id="link-alert">
                <i class="material-icons white-text">warning</i>
                <p class="white-text" style="margin: 5px 0 5px 10px;">
                    <b>Nie wysyłaj nikomu linku z paska adresu.</b>
                    <br/>
                    Zawiera on specjalny klucz umożliwiający Ci kontrolowanie transmisji. Jeżeli ktoś inny wejdzie w
                    jego posiadanie, będzie mógł on kontrolować Twój strumień.
                </p>
            </div>
            <img src="img/logo.png" height="45" style="margin-left: 20px;" />
        </div>
        <div style="flex: 1 0 auto; display: flex; flex-direction: row;">
            <div style="flex: 0 0 300px; border-right: 1px solid #fff2;">
                <h4 class="white-text" style="margin: 0 10px;">
                    <i class="material-icons" style="font-size: 1em; position: relative; top: 5px;">people</i>
                    Widzowie
                </h4>
                <div id="viewers-list">

                </div>
            </div>
            <div style="flex: 1 1 auto; display: flex; flex-direction: column;">
                <div style="width: 100%; flex: 1 1 auto; position: relative; background-color: black;">
                    <video id="stream-preview" width="100%" height="100%" muted></video>
                </div>
            </div>
            <div style="flex: 0 0 350px; border-left: 1px solid #fff2; display: flex; flex-direction: column;">
                <h4 class="white-text" style="margin: 0 10px;">
                    <i class="material-icons" style="font-size: 1em; position: relative; top: 5px;">chat</i>
                    Czat na żywo
                </h4>
                <div id="auto-scroll-switch" class="switch" style="display: none;">
                    <label>
                        <input id="auto-scroll-toggle" type="checkbox">
                        <span class="lever"></span>
                        Auto-przewijanie
                    </label>
                </div>
                <div id="chat-box-wrapper">
                    <ul id="chat-box"></ul>
                </div>
                <div style="flex: 0 0 auto; display: flex; flex-direction: row; align-items: center; padding-left: 10px;">
                    <input id="message-editor" class="white-text" type="text" placeholder="Wyślij wiadomość na czacie" />
                    <button id="emoji-btn" class="btn-flat grey darken-4 waves-effect waves-light white-text">
                        <i class="material-icons">mood</i>
                    </button>
                    <button id="send-message-btn" class="btn-flat grey darken-4 waves-effect waves-light white-text" disabled>
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </div>
        <div id="status-bar" data-livestatus="connecting">
            <div id="live-status-dot"></div>
            <label id="live-status">Łączenie z serwerem...</label>
            <label style="margin-right: 10px;">
                <input id="with-audio-checkbox" type="checkbox" class="filled-in" checked="checked" />
                <span>Udostępnij dźwięk mikrofonu</span>
            </label>
            <button id="go-live-btn" class="waves-effect waves-dark btn yellow black-text" disabled>
                <i class="material-icons left">cell_tower</i>
                Rozpocznij transmisję
            </button>
            <button id="stop-stream-btn" class="waves-effect waves-dark btn red white-text" style="display: none;">
                <i class="material-icons left">stop</i>
                Zakończ transmisję
            </button>
        </div>

        <div id="connection-error-modal" class="modal">
            <div class="modal-content">
                <h4>Błąd podczas łączenia</h4>
                <p>
                    Nie udało się połączyć z serwerem wymiany informacji, co uniemożliwia rozpoczęcie transmisji.
                    Sprawdź połączenie z siecią i spróbuj ponownie później.
                    <br/>
                    Wiadomość błędu: <pre id="error-message"></pre>
                </p>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-dark black-text btn-flat" onclick="location.assign('/');">
                    Wróć na stronę główną
                </button>
            </div>
        </div>

        <div id="disconnection-modal" class="modal">
            <div class="modal-content">
                <h4>Rozłączono z serwerem</h4>
                <p>
                    Nastąpiło niespodziewane rozłączenie z serwerem wymiany informacji, co uniemożliwia dalsze
                    prowadzenie transmisji. Sprawdź połączenie z siecią i spróbuj ponownie później.
                    <br/>
                    Powód: <pre id="disconnect-reason"></pre>
                </p>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-dark black-text btn-flat" onclick="location.assign('/');">
                    Wróć na stronę główną
                </button>
            </div>
        </div>

        <script src="/js/components/chat.js" defer></script>
        <script src="/js/panel.js" defer></script>
    </body>
</html>
