<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QuickStream - Panel</title>
        <% include common/head.ejs %>
        <link rel="stylesheet" href="/styles/panel.css" />
        <link rel="stylesheet" href="/styles/components/emojibuttonlistjs.css" />
        <script src="/js/components/emojibuttonlistjs.js"></script>
    </head>
    <body>
        <div id="top">
            <img src="img/logo.png" height="100%" style="padding: 10px;" />
            <div style="flex-grow: 1;"></div>
            <button id="copy-safe-link-btn" class="border">
                <i>link</i>
                Kopiuj link do transmisji dla widzów
            </button>
        </div>

        <div id="left">
            <h4>
                <i>people</i>
                Widzowie
            </h4>
            <div id="viewers-list">

            </div>
        </div>

        <div id="center">
            <video id="stream-preview" muted></video>
        </div>

        <div id="right">
            <h4>
                <i>chat</i>
                Czat na żywo
            </h4>

            <div id="auto-scroll-switch" class="switch" style="display: none;">
                <label class="switch">
                    <input id="auto-scroll-toggle" type="checkbox">
                    <span>Auto-przewijanie</span>
                </label>
            </div>
            <div id="chat-box-wrapper">
                <ul id="chat-box"></ul>
            </div>
            <div style="flex: 0 0 auto; display: flex; flex-direction: row; align-items: center; padding-left: 10px;">
                <div class="field label round small border" style="margin: 0;">
                    <input id="message-editor" type="text">
                    <label>Wyślij wiadomość</label>
                </div>

                <button id="emoji-btn" class="transparent circle">
                    <i>mood</i>
                </button>
                <button id="send-message-btn" class="transparent circle" disabled>
                    <i>send</i>
                </button>
            </div>
        </div>

        <div id="bottom">
            <div id="live-status-dot" data-status="connecting"></div>
            <h5 id="live-status-text" class="small">Łączenie z serwerem...</h5>

            <label class="switch icon">
                <input id="with-audio-checkbox" type="checkbox" checked>
                <span>
                    <i>mic_off</i>
                    <i>mic</i>
                </span>
            </label>

            <button id="go-live-btn" disabled>
                <i>cell_tower</i>
                Rozpocznij transmisję
            </button>
            <button id="stop-stream-btn" style="display: none;">
                <i>stop</i>
                Zakończ transmisję
            </button>
        </div>

        <dialog id="connection-error-modal" class="modal">
            <div class="modal-content">
                <h5>Błąd podczas łączenia</h5>
                <p>
                    Nie udało się połączyć z serwerem wymiany informacji, co uniemożliwia rozpoczęcie transmisji.
                    Sprawdź połączenie z siecią i spróbuj ponownie później.
                    <br/>
                    Wiadomość błędu: <pre id="error-message"></pre>
                </p>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-dark black-text btn-flat" onclick="location.assign('/');">
                    Wróć na stronę główną
                </button>
            </div>
        </dialog>

        <dialog id="disconnection-modal" class="modal">
            <div class="modal-content">
                <h5>Rozłączono z serwerem</h5>
                <p>
                    Nastąpiło niespodziewane rozłączenie z serwerem wymiany informacji, co uniemożliwia dalsze
                    prowadzenie transmisji. Sprawdź połączenie z siecią i spróbuj ponownie później.
                    <br/>
                    Powód: <pre id="disconnect-reason"></pre>
                </p>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-dark black-text btn-flat" onclick="location.assign('/');">
                    Wróć na stronę główną
                </button>
            </div>
        </dialog>

        <div id="connected-message-snackbar" class="snackbar top">Połączono z serwerem.</div>

        <script src="/js/components/chat.js" defer></script>
        <script src="/js/panel.js" defer></script>
    </body>
</html>
