<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= streamerName %> na QuickStream</title>
        <% include common/head.ejs %>
        <link rel="stylesheet" href="/styles/watch.css" />
    </head>
    <body>
        <div id="stream-viewer" style="display: none;">
            <div id="stream-player-wrapper">
                <video id="stream-player"></video>
            </div>
            <div id="side-bar" data-collapsed="0">
                <!-- Normal content -->
                <div id="side-bar-normal-content">
                    <button id="hide-side-bar-btn" class="small">
                        Zwiń boczny pasek
                        <i>arrow_forward</i>
                    </button>

                    <% include components/chat.ejs %>
                </div>

                <!-- Collapsed content -->
                <div id="side-bar-collapsed-content">
                    <button id="expand-side-bar-btn" class="transparent circle right-round large">
                        <i>arrow_back</i>
                    </button>
                </div>
            </div>
        </div>

        <div id="splash-screen">
            <img id="splash-logo" src="/img/logo.png" />
            <label id="splash-streamer-info">
                <i>cast_connected</i>
                <span>Transmisja użytkownika <b><%= streamerName %></b></span>
            </label>
            <hr class="animated-hr" style="margin: 10px 0;"/>
            <div id="watch-btn-wrapper">
                <button id="watch-btn" class="large">
                    <i>chevron_right</i>
                    Obejrzyj transmisję
                </button>
                <div id="loading-container">
                    <div class="lds-spinner white-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <h5 id="loading-text" style="margin: 0 !important;">Oczekiwanie na rozpoczęcie transmisji...</h5>
                </div>
            </div>
        </div>

        <script src="/js/components/chat.js" defer></script>
        <script src="/js/watch.js" defer></script>
    </body>
</html>
