@import "components/chat.css";

:root {
    --border-color: var(--outline-variant);
    --top-height: 80px;
    --left-width: 300px;
    --right-width: 350px;
    --bottom-height: 65px;
}

body {
    display: grid;
    grid-template-areas:
        "top top top"
        "left center right"
        "bottom bottom bottom";
    grid-template-rows: var(--top-height) 1fr var(--bottom-height);
    grid-template-columns: var(--left-width) 1fr var(--right-width);
}

#top {
    grid-area: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

#left {
    grid-area: left;
    border-right: 1px solid var(--border-color);
    padding: 5px;
}

#center {
    grid-area: center;
}

#right {
    grid-area: right;
    border-left: 1px solid var(--border-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

#link-alert {
    flex-grow: 1;
    margin-left: 10px;
    background-color: #F44336;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

#live-status {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    flex-grow: 1;
}

#live-status-dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 10px 0 20px;
}

#live-status-dot[data-status="stopped"] {
    background-color: #F44336;
}

#live-status-dot[data-status="progress"] {
    background-color: #FDD835;
}

#live-status-dot[data-status="started"] {
    background-color: #4CAF50;
}

#live-status-dot[data-status="connecting"] {
    background-color: gray;
}

#live-status-text {
    flex-grow: 1;
    margin: 0;
}

#viewers-list > div {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#viewers-list > div:nth-child(even) {
    background-color: #fff1;
}
