#chat_messages-box {
    flex: 1 0 auto;
    overflow-y: auto;
    margin: 0;
    height: 0;
}

#chat_messages-box > .message {
    width: 100%;
    padding: 3px 5px;
    border-radius: 6px;
}

#chat_messages-box > .message:nth-child(even) {
    background-color: #fff1;
}

#chat_messages-box > .message > p {
    margin: 0;
    word-break: break-all;
}

#chat_messages-box > .message > b::before {
    content: "person";
    /*noinspection CssNoGenericFontName*/
    font-family: "Material Symbols Outlined";
    position: relative;
    top: 2px;
    font-size: 1rem;
}

#chat_message-editor {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}

#chat_message-editor > div.field {
    margin: 0;
    flex: 1 0 auto;
}

#chat_message-editor_send-btn {
    margin-right: 0 !important;
}